html, body {
  height: 100%;
  width: 100%;
}




h2 {font-family: 'Amatic SC', cursive;
  
  background-color: #bdebbd
}

h1{ font-family: 'Teko', sans-serif;
  background-color: #97c897}

body {background-color: #e5f5e5;
      font-family: 'Frank Ruhl Libre', serif;}
